.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
 
}

.App-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 3rem;
}

.App-link {
  color: #61dafb;
}

.field{
  width: 3rem;
  height: 3rem;
  font-size:2rem;
  text-align: center;
  color: #888
}

.field[readOnly]{
  color: black;
}